@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Quicksand:wght@300&display=swap");

.threeimages {
  max-height: 400px;
  padding: 0 0.5rem;
}

.p-6 {
  padding-bottom: 5rem;
}

.py-6 {
  padding-top: 5rem;
}

.hartlauer a {
  color: #ffffff8c;
  text-decoration: none;
}

details {
  padding-left: 50px;
}

details img {
  margin-left: -50px;
}

details p {
  padding-left: 20px;
  text-align: justify;
}

.qnaQuestion {
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 8px;
}

//Gallery neu
#gallerynew {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 300px 200px;
  grid-gap: 10px;
  margin: 10px;
  grid-auto-flow: dense;
}

.images {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.images img:hover {
  cursor: zoom-in;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-row: span 5;
}

.w-6 {
  grid-row: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

.contact {
  padding-bottom: 35px;
}

.contact:first-child {
  padding-top: 55px;
}

.contact a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.contact img {
  margin-right: 20px;
  width: 30px;
}

@media (max-width: 1400px) {
  #gallerynew {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px 200px;
  }

  .page-title {
    max-width: 50% !important;
    position: relative;
    top: 270px !important;
    clip-path: polygon(0 10%, 70% 10%, 100% 50%, 70% 90%, 0% 90%) !important;
  }

  .threeimages {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 900px) {
  #gallerynew {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px 200px;
  }

  .threeimages {
    padding-bottom: 0.5rem;
  }

  .banner {
    padding: 20px 20px 0 20px;
    color: #ffffff8c;
  }

  .banner-img {
    content: url(images/Home/IMG_5580.jpg);
  }
  
  details {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 600px) {
  .navbar-brand {
    display: block !important;
  }

  .nav-social {
    margin-left: 1.5rem;
  }

  .landing {
    position: relative;
    top: 60%;
    margin-left: 0 !important;
    text-align: center !important;
  }

  .landing img {
    max-height: 100px !important;
  }

  .page-title {
    max-width: 90% !important;
    position: relative;
    top: 270px !important;
    clip-path: polygon(0 10%, 70% 10%, 100% 50%, 70% 90%, 0% 90%) !important;
  }

  .page-title-galerie h1 {
    padding-left: 80px !important;
  }

  .page-title-contact {
    max-width: 90% !important;
    position: relative;
    top: 0 !important;
    left: 40px !important;
    clip-path: polygon(100% 90%, 30% 90%, 0 50%, 30% 10%, 100% 10%) !important;
  }

  .p-6 {
    padding-bottom: 2rem;
  }

  .py-6 {
    padding-top: 2rem;
  }

  .details {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  #shootingablauf {
    padding-top: 2rem !important;
  }

  .shootingablauf-text {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .threeimages {
    padding-bottom: 0.5rem;
  }

  .banner {
    padding: 20px 20px 0 20px;
    color: #ffffff8c;
  }

  .banner-img {
    content: url(images/Home/IMG_5580.jpg);
  }

  .banner-2 {
    background-size: 90vh !important;
    height: 50vh !important;
  }

  .hartlauer h2 {
    text-align: center;
    padding-bottom: 20px !important;
  }

  .hartlauer p {
    text-align: justify;
  }

  .hartlauer {
    padding: 0 50px !important;
  }

  //Gallery neu
  #gallerynew {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px 200px;
  }
  .w-1,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }

  .h-1,
  .h-2,
  .h-4,
  .h-5,
  .h-6 {
    grid-row: span 1;
  }
}

@media (min-width: 1100px) {
  .banner {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    max-width: 400px !important;
  }
}

@media (min-width: 900px) {
  .banner {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    max-width: 300px !important;
  }
}

@media (min-width: 640px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
    padding: 20px 0;
  }

  .gallery-item {
    margin: 0.3rem;
  }

  .gallery-item:first-child {
    grid-row: span 1;
  }

  .gallery-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery-item:nth-child(6),
  .gallery-item:nth-child(8) {
    grid-row: span 2;
  }
}

@media (min-width: 960px) {
  .gallery {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, auto-flow);
  }

  .gallery-item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-item:nth-child(4) {
    grid-column: span 3;
  }

  .gallery-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-item:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery-item:nth-child(7) {
    grid-column: span 2;
  }

  .gallery-item:first-child {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery-item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-item:nth-child(9) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

// Import Css and overwrite it

@import "node_modules/bootstrap/scss/bootstrap"; //user imports everything, if oyu need only buttons just use the import for teh buttons

body {
  font-family: "Quicksand", sans-serif;
}

.navbar-dark {
  --bs-navbar-color: #fff;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
}

h5 {
  font-weight: bolder;
  padding-bottom: 10px;
}

.form-control,
.form-select {
  margin: 5px 0;
}

.btn-close {
  position: relative;
  left: 95%;
  padding: 10px 0;
}

@media (max-width: 600px) {
  .pb-5 {
    padding-bottom: 2rem !important;
  }
}

@media (min-width: 601px) {
  .container .row > * {
    padding-left: 100px;
  }
}
